body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(11, 40, 83);
    color:white;
}
h2{
    text-align: start;
    margin-left: 100px;
    margin-top: 50px;
}
.certificates{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.schoolImage img{
    height: 300px;
    width: 500px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.Info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 20px;
    width: 600px;
}