.contactInfo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactInfo .info{
    font-size: 25px;
    color: white;
    width: 400px;
    line-height: 1.6;
}

.contactInfo .image img{
    width: 400px;
    height: 400px;
}

.details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    
}
.detailItem{
    background-color: #011645;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttonContact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.buttonContact a{
    text-decoration: none;
    margin-top:20px;
    padding:10px 20px;
    font-size:16px;
    background-color:#61dafb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    width: 160px;
    text-align: center;
}
.buttonContact a:hover{
    background-color:#21a1f1;
}
.messageSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}
.formContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    background-color: #011645;
    height: auto;
    width: 700px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 100px;
    margin-right: 100px;
}
.formTitle{
    color:#61dafb;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.form label{
    align-self: flex-start;
    font-size: 20px;
}
.form input, .form textarea{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 450px;
}
.form button{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #61dafb;
    color: white;
    cursor: pointer;
    width: 150px;
    margin-bottom: 20px;
}
.form button:hover{
    background-color: #21a1f1;
}
.msg{
    color: #00ffaa;
    font-size: 18px;
    margin-bottom: 10px;
}