.footer{
    height: 60px;
    background-color: #222;
    color: white;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}