body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(11, 40, 83);
}
.container{
    display:flex;
    justify-content:space-evenly;
    color:white;
}

.left{
    height: 500px;
    width: 25%;
    font-size: 50px;
    margin-top: 120px;
}
.name{
    color:#61dafb;
}
.design{
    color:#61dafb;
    font-weight: bold;
}
.right{
    height: 500px;
    width: 35%;
    margin-top: 100px;
}